<section id="printing_section">
    <button id="print_table" onclick="window.print()"><i class="fa-solid fa-print" style="color: #ffffff;"></i></button>
    <button id="print_id" style="display: none;"><i class="fa-solid fa-id-card" style="color: #ffffff;"></i></button>
</section>