<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>

<body>

    <%- include('partials/nav-bar.ejs') %>
        <table id="main_table">
            <tbody>
                <tr>
                    <td>
                        إسم المستخدم
                    </td>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <button>edit</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        رمز المرور
                    </td>
                    <td>

                    </td>
                    <td>
                        <button>edit</button>
                        <button>show</button>
                    </td>
                </tr>
            </tbody>
        </table>
</body>

</html>