<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <div class="login-container">

        <img src="/images/logo.png" alt="" width="100%" >
        <form action="/login" method="post" class="login-form">
            <h2>تسجيل الدخول</h2>

            <% if (error && error.length> 0) { %>
                <div class="error_message">
                    <h4>
                        <%= error[0] %>
                    </h4>
                </div>

            <% } %>

                    <div class="input-group">
                        <label for="username">إسم المستخدم</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="password">كلمة المرور</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">تسجيل الدخول</button>
        </form>
    </div>
</body>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-image: url('/images/bg.png');
    }

    .login-container {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
    }

    .login-form h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .input-group {
        margin-bottom: 15px;
        text-align: right;
    }

    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #555;
    }

    .input-group input[type="text"],
    .input-group input[type="password"] {
        width: calc(100% - 20px);
        /* Account for padding */
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        margin-top: 10px;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    .error_message {
        border: 1px solid red;
        background-color: #f4f4f4;
        margin: 10px;
    }
</style>

</html>