html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: right;
}



main {
    margin: 20px;
}

main .heading-section {
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

main form {
    margin: auto;
    margin-bottom: 40px;
    display: grid;
    direction: rtl;
    gap: 10px;
    grid-template-columns: auto auto auto;
    /* background-color: #f2f2f2; */
    padding: 10px;
    width: 80%;
    
    border-radius: 25px;
}


form input[type="text"], input[type="date"] {
    height: 50px;
    border: none;
    border-bottom: solid 2px #36374e;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    width: 80%;
    margin: auto;
    transition: 0.5s;
}


form button {
    background-color: #36374e;
    color: white;
    width: 80%;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}
form input:hover, form button:hover {
    width: 100%;
    transition: 0.5s;
}

form button i { 
    margin: 10px;
}


td {
    height: 50px;
}


table {
    width: 100%;
    background-color: #d9dbe9;
    border-collapse: collapse;
}

table thead tr {
    background-color: #36374e;
    color: white;
    border: none;
}

table thead tr th {
    background-color: #36374e;
    color: white;
    border: none;
    margin: 0;
    padding: 20px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

td img {
    max-height: 100px;
}


.btn {
    border: none;
    padding: 10px;
    background-color: #36374e;
    color: white;
    transition: 1s;
}

.btn:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 1s;
}