.travelers-print-section {
    width: 100%;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
}

.travelers-print-section button {
    margin: 20px;
    padding: 20px;
    font-size: x-large;   
}